# ========================
# Keil 编译输出文件（全部忽略）
# ========================
*.lst
*.o
*.d
*.crf
*.lnp
*.axf
*.htm
*.build_log.htm
*.dep
*.iex
*.i
*_2i
*.l2p
*.fed
*.map
*.hex
*.bin
*.Bak
*.bak

# Keil 输出目录
Listings/
Objects/
build/
Debug/
Release/
Output/
MDK-ARM/Listings/
MDK-ARM/Objects/

# ========================
# Keil 工程界面布局文件（每个人不同，无需提交）
# ========================
*.uvguix.*
*.uvgui.*


# ========================
# 调试 / 下载工具文件
# ========================
JLinkLog.txt
JLinkSettings.ini
*.dbgconf
*.cspy

# ========================
# 系统/编辑器垃圾文件
# ========================
.DS_Store
Thumbs.db
.vs/
.vscode/